<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<% @blog_posts.each do |p|  %>
     <p>
        <h2>
            <%= link_to p.title, p %>
        </h2>
        <%= p.content[0...1000]  %>
    </p> 
<% end %>

<%= link_to 'Blog Posts', blog_posts_path  %>